# Deis controller requirements
backoff==1.8.0
django>=2.2.20,<3.0
django-auth-ldap==2.3.0,<3.0
django-cors-middleware==1.5.0
django-guardian==2.3.0
djangorestframework==3.12.2,<4.0
docker-py==1.10.6
gunicorn>=20.0.4
idna>=2.6
jmespath>=0.10.0
jsonfield>=3.1.0
jsonschema>=3.2.0
morph==0.1.4
ndg-httpsclient==0.5.1
packaging==20.0
pyasn1==0.3.7
psycopg2-binary==2.8.6
pyldap==3.0.0
pyOpenSSL==20.0.1
pytz>=2021.1
requests>=2.25.1
requests-toolbelt>=0.9.1
